/* Emoticon */
.emoticon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  display: inline-block;
  vertical-align: middle;
}

.emoticon.e126362014215262 {
  background-image: url(../images/emos/126362014215262.png);
}

.emoticon.e126362140881916 {
  background-image: url(../images/emos/126362140881916.png);
}

.emoticon.e126361977548599 {
  background-image: url(../images/emos/126361977548599.png);
}

.emoticon.e126362120881918 {
   background-image: url(../images/emos/126362120881918.png);
 }

.emoticon.e126361997548597 {
  background-image: url(../images/emos/126361997548597.png);
}

.emoticon.e126361887548608 {
  background-image: url(../images/emos/126361887548608.png);
}

.emoticon.e126362200881910 {
  background-image: url(../images/emos/126362200881910.png);
}

.emoticon.e126362127548584 {
  background-image: url(../images/emos/126362127548584.png);
}

.emoticon.e126361914215272 {
  background-image: url(../images/emos/126361914215272.png);
}

.emoticon.e126361970881933 {
  background-image: url(../images/emos/126361970881933.png);
}

.emoticon.e126362067548590 {
  background-image: url(../images/emos/126362067548590.png);
}

.emoticon.e126362214215242 {
  background-image: url(../images/emos/126362214215242.png);
}

.emoticon.e126362170881913 {
  background-image: url(../images/emos/126362170881913.png);
}

.emoticon.e126362234215240 {
  background-image: url(../images/emos/126362234215240.png);
}

.emoticon.e126361877548609 {
  background-image: url(../images/emos/126361877548609.png);
}

.emoticon.e126362164215247 {
  background-image: url(../images/emos/126362164215247.png);
}

.emoticon.e126362084215255 {
  background-image: url(../images/emos/126362084215255.png);
}

.emoticon.e126361960881934 {
  background-image: url(../images/emos/126361960881934.png);
}

.emoticon.e126362184215245 {
  background-image: url(../images/emos/126362184215245.png);
}

.emoticon.eheart01 {
  background-image: url(../images/emos/heart01.png);
}

.emoticon.eheart02 {
  background-image: url(../images/emos/heart02.png);
}

.emoticon.eheart02l {
    background-image: url(../images/emos/heart02l.png);
}

.emoticon.eheart03 {
  background-image: url(../images/emos/heart03.png);
}

.emoticon.eheart04 {
  background-image: url(../images/emos/heart04.png);
}

.emoticon.eheart05 {
  background-image: url(../images/emos/heart05.png);
}

.emoticon.eheart05l {
    background-image: url(../images/emos/heart05l.png);
}



/* Sticker */
.sticker.small {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
}

/* 1 */
.sticker.small.s279586385548960 {
  width: 52px;
  background: url(../images/stickers/small/279586385548960.png) -5px -5px;
  background-size: 124px 148px;
}

.sticker.small.s279586372215628 {
  height: 59px;
  background: url(../images/stickers/small/279586372215628.png) -5px -5px;
  background-size: 148px 138px;
}

.sticker.small.s279586365548962 {
  width: 59px;
  background: url(../images/stickers/small/279586365548962.png) -5px -5px;
  background-size: 138px 148px;
}

.sticker.small.s279586362215629 {
  width: 62px;
  background: url(../images/stickers/small/279586362215629.png) -6px -6px;
  background-size: 148px 152px;
}
/* 5 */
.sticker.small.s279586332215632 {
  width: 58px;
  background: url(../images/stickers/small/279586332215632.png) -5px -5px;
  background-size: 136px 148px;
}

.sticker.small.s279586392215626 {
  width: 48px;
  background: url(../images/stickers/small/279586392215626.png) -4px -4px;
  background-size: 112px 144px;
}

.sticker.small.s279586305548968 {
  width: 56px;
  background: url(../images/stickers/small/279586305548968.png) -5px -5px;
  background-size: 132px 148px;
}

.sticker.small.s279586282215637 {
  width: 57px;
  background: url(../images/stickers/small/279586282215637.png) -4px -5px;
  background-size: 134px 148px;
}
/* 9 */
.sticker.small.s279586338882298 {
  width: 53px;
  background: url(../images/stickers/small/279586338882298.png) -5px -5px;
  background-size: 126px 148px;
}

.sticker.small.s279586322215633 {
  width: 63px;
  background: url(../images/stickers/small/279586322215633.png) -6px -6px;
  background-size: 152px 150px;
}

.sticker.small.s279586295548969 {
  height: 61px;
  background: url(../images/stickers/small/279586295548969.png) -6px -6px;
  background-size: 228px 219px;
}

.sticker.small.s279586275548971 {
  width: 52px;
  background: url(../images/stickers/small/279586275548971.png) -5px -5px;
  background-size: 186px 222px;
}
/* 13 */
.sticker.small.s279586255548973 {
  height: 56px;
  background: url(../images/stickers/small/279586255548973.png) -5px -5px;
  background-size: 148px 132px;
}

.sticker.small.s279586285548970 {
  width: 47px;
  background: url(../images/stickers/small/279586285548970.png) -4px -4px;
  background-size: 110px 144px;
}

.sticker.small.s279586368882295 {
  width: 61px;
  background: url(../images/stickers/small/279586368882295.png) -6px -6px;
  background-size: 146px 152px;
}

.sticker.small.s279586388882293 {
  width: 62px;
  background: url(../images/stickers/small/279586388882293.png) -6px -6px;
  background-size: 148px 152px;
}
/* 17 */
.sticker.small.s279586375548961 {
  height: 57px;
  background: url(../images/stickers/small/279586375548961.png) -5px -5px;
  background-size: 148px 134px;
}

.sticker.small.s279586345548964 {
  height: 51px;
  background: url(../images/stickers/small/279586345548964.png) -5px -5px;
  background-size: 148px 122px;
}

.sticker.small.s279586325548966 {
  height: 54px;
  background: url(../images/stickers/small/279586325548966.png) -5px -5px;
  background-size: 148px 128px;
}

.sticker.small.s279586342215631 {
  height: 50px;
  background: url(../images/stickers/small/279586342215631.png) -5px -5px;
  background-size: 148px 120px;
}
/* 21 */
.sticker.small.s279586378882294 {
  height: 50px;
  background: url(../images/stickers/small/279586378882294.png) -5px -5px;
  background-size: 222px 180px;
}

.sticker.small.s279586302215635 {
  height: 51px;
  background: url(../images/stickers/small/279586302215635.png) -5px -5px;
  background-size: 148px 122px;
}

.sticker.small.s279586292215636 {
  height: 53px;
  background: url(../images/stickers/small/279586292215636.png) -5px -5px;
  background-size: 148px 126px;
}

.sticker.small.s279586288882303 {
  height: 50px;
  background: url(../images/stickers/small/279586288882303.png) -5px -5px;
  background-size: 148px 120px;
}
/* 25 */
.sticker.small.s279586358882296 {
  height: 40px;
  background: url(../images/stickers/small/279586358882296.png) -4px -4px;
  background-size: 144px 96px;
}

.sticker.small.s279586328882299 {
  height: 41px;
  background: url(../images/stickers/small/279586328882299.png) -4px -4px;
  background-size: 144px 98px;
}

.sticker.small.s279586315548967 {
  height: 39px;
  background: url(../images/stickers/small/279586315548967.png) -3px -3px;
  background-size: 140px 90px;
}

.sticker.small.s279586262215639 {
  height: 39px;
  background: url(../images/stickers/small/279586262215639.png) -3px -3px;
  background-size: 140px 90px;
}
/* 29 */
.sticker.small.s279586312215634 {
  height: 40px;
  background: url(../images/stickers/small/279586312215634.png) -4px -4px;
  background-size: 144px 96px;
}

.sticker.small.s279586272215638 {
  height: 37px;
  background: url(../images/stickers/small/279586272215638.png) -3px -3px;
  background-size: 140px 86px;
}

.sticker.small.s279586355548963 {
  height: 40px;
  background: url(../images/stickers/small/279586355548963.png) -4px -4px;
  background-size: 144px 96px;
}

.sticker.small.s279586318882300 {
  height: 34px;
  background: url(../images/stickers/small/279586318882300.png) -3px -3px;
  background-size: 140px 80px;
}
/* 33 */
.sticker.small.s279586382215627 {
  height: 39px;
  background: url(../images/stickers/small/279586382215627.png) -3px -3px;
  background-size: 140px 90px;
}

.sticker.small.s279586348882297 {
  height: 42px;
  background: url(../images/stickers/small/279586348882297.png) -4px -4px;
  background-size: 144px 100px;
}

.sticker.small.s279586335548965 {
  height: 34px;
  background: url(../images/stickers/small/279586335548965.png) -3px -3px;
  background-size: 140px 80px;
}

.sticker.small.s279586258882306 {
  height: 44px;
  background: url(../images/stickers/small/279586258882306.png) -4px -4px;
  background-size: 144px 104px;
}
/* 37 */
.sticker.small.s279586352215630 {
  height: 46px;
  background: url(../images/stickers/small/279586352215630.png) -4px -4px;
  background-size: 144px 108px;
}

.sticker.small.s279586308882301 {
  height: 46px;
  background: url(../images/stickers/small/279586308882301.png) -4px -4px;
  background-size: 144px 108px;
}

.sticker.small.s279586278882304 {
  height: 40px;
  background: url(../images/stickers/small/279586278882304.png) -4px -4px;
  background-size: 144px 96px;
}

.sticker.small.s279586298882302 {
  height: 47px;
  background: url(../images/stickers/small/279586298882302.png) -4px -4px;
  background-size: 144px 110px;
}
/* 41 */
.sticker.small.s499671063448730 {
  background-image: url(../images/stickers/small/499671063448730.png);
}

.sticker.small.s499671103448726 {
  background-image: url(../images/stickers/small/499671103448726.png);
}

.sticker.small.s499670973448739 {
  background-image: url(../images/stickers/small/499670973448739.png);
}

.sticker.small.s499670946782075 {
  background-image: url(../images/stickers/small/499670946782075.png);
}
/* 45 */
.sticker.small.s499671050115398 {
  background-image: url(../images/stickers/small/499671050115398.png);
}

.sticker.small.s499671006782069 {
  background-image: url(../images/stickers/small/499671006782069.png);
}

.sticker.small.s499671090115394 {
  background-image: url(../images/stickers/small/499671090115394.png);
}

.sticker.small.s499671210115382 {
  background-image: url(../images/stickers/small/499671210115382.png);
}
/* 49 */
.sticker.small.s499670980115405 {
  background-image: url(../images/stickers/small/499670980115405.png);
}

.sticker.small.s499671136782056 {
  background-image: url(../images/stickers/small/499671136782056.png);
}

.sticker.small.s499671143448722 {
  background-image: url(../images/stickers/small/499671143448722.png);
}

.sticker.small.s499671170115386 {
  background-image: url(../images/stickers/small/499671170115386.png);
}
/* 53 */
.sticker.small.s499671076782062 {
  background-image: url(../images/stickers/small/499671076782062.png);
}

.sticker.small.s499671000115403 {
  background-image: url(../images/stickers/small/499671000115403.png);
}

.sticker.small.s499671116782058 {
  background-image: url(../images/stickers/small/499671116782058.png);
}

.sticker.small.s499670940115409 {
  background-image: url(../images/stickers/small/499670940115409.png);
}
/* 57 */
.sticker.small.s499671156782054 {
  background-image: url(../images/stickers/small/499671156782054.png);
}

.sticker.small.s499671020115401 {
  background-image: url(../images/stickers/small/499671020115401.png);
}

.sticker.small.s499671026782067 {
  background-image: url(../images/stickers/small/499671026782067.png);
}

.sticker.small.s499671043448732 {
  background-image: url(../images/stickers/small/499671043448732.png);
}
/* 61 */
.sticker.small.s499671190115384 {
  background-image: url(../images/stickers/small/499671190115384.png);
}

.sticker.small.s499671183448718 {
  background-image: url(../images/stickers/small/499671183448718.png);
}

.sticker.small.s499671013448735 {
  background-image: url(../images/stickers/small/499671013448735.png);
}

.sticker.small.s499671123448724 {
  background-image: url(../images/stickers/small/499671123448724.png);
}
/* 65 */
.sticker.small.s499671096782060 {
  background-image: url(../images/stickers/small/499671096782060.png);
}

.sticker.small.s499671083448728 {
  background-image: url(../images/stickers/small/499671083448728.png);
}

.sticker.small.s499671243448712 {
  background-image: url(../images/stickers/small/499671243448712.png);
}

.sticker.small.s499671110115392 {
  background-image: url(../images/stickers/small/499671110115392.png);
}
/* 69 */
.sticker.small.s499670960115407 {
  background-image: url(../images/stickers/small/499670960115407.png);
}

.sticker.small.s499670966782073 {
  background-image: url(../images/stickers/small/499670966782073.png);
}

.sticker.small.s499671203448716 {
  background-image: url(../images/stickers/small/499671203448716.png);
}

.sticker.small.s499671163448720 {
  background-image: url(../images/stickers/small/499671163448720.png);
}
/* 73 */
.sticker.small.s499671216782048 {
  background-image: url(../images/stickers/small/499671216782048.png);
}

.sticker.small.s499671033448733 {
  background-image: url(../images/stickers/small/499671033448733.png);
}

.sticker.small.s499671226782047 {
  background-image: url(../images/stickers/small/499671226782047.png);
}

.sticker.small.s499671056782064 {
  background-image: url(../images/stickers/small/499671056782064.png);
}
/* 77 */
.sticker.small.s499671233448713 {
  background-image: url(../images/stickers/small/499671233448713.png);
}

.sticker.small.s499671130115390 {
  background-image: url(../images/stickers/small/499671130115390.png);
}

.sticker.small.s499670953448741 {
  background-image: url(../images/stickers/small/499670953448741.png);
}

.sticker.small.s499671176782052 {
  background-image: url(../images/stickers/small/499671176782052.png);
}
/* 81 */
.sticker.small.s499671196782050 {
  background-image: url(../images/stickers/small/499671196782050.png);
}

.sticker.small.s499671070115396 {
  background-image: url(../images/stickers/small/499671070115396.png);
}

.sticker.small.s499670990115404 {
  background-image: url(../images/stickers/small/499670990115404.png);
}

.sticker.small.s499671150115388 {
  background-image: url(../images/stickers/small/499671150115388.png);
}

.sticker.small.s364383977058241 {
  background-image: url(../images/stickers/small/364383977058241.png)
}

.sticker.small.s364383987058240 {
  background-image: url(../images/stickers/small/364383987058240.png)
}

.sticker.small.s364383997058239 {
  background-image: url(../images/stickers/small/364383997058239.png)
}

.sticker.small.s364384007058238 {
  background-image: url(../images/stickers/small/364384007058238.png)
}

.sticker.small.s364384020391570 {
  background-image: url(../images/stickers/small/364384020391570.png)
}

.sticker.small.s364384040391568 {
  background-image: url(../images/stickers/small/364384040391568.png)
}

.sticker.small.s364384050391567 {
  background-image: url(../images/stickers/small/364384050391567.png)
}

.sticker.small.s364384060391566 {
  background-image: url(../images/stickers/small/364384060391566.png)
}

.sticker.small.s364384080391564 {
  background-image: url(../images/stickers/small/364384080391564.png)
}

.sticker.small.s364384093724896 {
  background-image: url(../images/stickers/small/364384093724896.png)
}

.sticker.small.s364384107058228 {
  background-image: url(../images/stickers/small/364384107058228.png)
}

.sticker.small.s364384117058227 {
  background-image: url(../images/stickers/small/364384117058227.png)
}

.sticker.small.s364384127058226 {
  background-image: url(../images/stickers/small/364384127058226.png)
}

.sticker.small.s364384137058225 {
  background-image: url(../images/stickers/small/364384137058225.png)
}

.sticker.small.s364384147058224 {
  background-image: url(../images/stickers/small/364384147058224.png)
}

.sticker.small.s364384157058223 {
  background-image: url(../images/stickers/small/364384157058223.png)
}

.sticker.small.s364384170391555 {
  background-image: url(../images/stickers/small/364384170391555.png)
}

.sticker.small.s364384180391554 {
  background-image: url(../images/stickers/small/364384180391554.png)
}

.sticker.small.s364384190391553 {
  background-image: url(../images/stickers/small/364384190391553.png)
}

.sticker.small.s364384200391552 {
  background-image: url(../images/stickers/small/364384200391552.png)
}

.sticker.small.s702110249875066 {
  background-image: url(../images/stickers/small/702110249875066.png)
}

.sticker.small.s702110259875065 {
  background-image: url(../images/stickers/small/702110259875065.png)
}

.sticker.small.s702110269875064 {
  background-image: url(../images/stickers/small/702110269875064.png)
}

.sticker.small.s702110279875063 {
  background-image: url(../images/stickers/small/702110279875063.png)
}

.sticker.small.s702110293208395 {
  background-image: url(../images/stickers/small/702110293208395.png)
}

.sticker.small.s702110306541727 {
  background-image: url(../images/stickers/small/702110306541727.png)
}

.sticker.small.s702110316541726 {
  background-image: url(../images/stickers/small/702110316541726.png)
}

.sticker.small.s702110326541725 {
  background-image: url(../images/stickers/small/702110326541725.png)
}

.sticker.small.s702110339875057 {
  background-image: url(../images/stickers/small/702110339875057.png)
}

.sticker.small.s702110349875056 {
  background-image: url(../images/stickers/small/702110349875056.png)
}

.sticker.small.s702110359875055 {
  background-image: url(../images/stickers/small/702110359875055.png)
}

.sticker.small.s702110369875054 {
  background-image: url(../images/stickers/small/702110369875054.png)
}

.sticker.small.s702110383208386 {
  background-image: url(../images/stickers/small/702110383208386.png)
}

.sticker.small.s702110399875051 {
  background-image: url(../images/stickers/small/702110399875051.png)
}

.sticker.small.s702110413208383 {
  background-image: url(../images/stickers/small/702110413208383.png)
}

.sticker.small.s702110436541714 {
  background-image: url(../images/stickers/small/702110436541714.png)
}

.sticker.small.s702110446541713 {
  background-image: url(../images/stickers/small/702110446541713.png)
}

.sticker.small.s702110456541712 {
  background-image: url(../images/stickers/small/702110456541712.png)
}

.sticker.small.s702110466541711 {
  background-image: url(../images/stickers/small/702110466541711.png)
}

.sticker.small.s702127056540052 {
  background-image: url(../images/stickers/small/702127056540052.png)
}

.sticker.small.s1573846232838561 {
    background-image: url(../images/stickers/small/1573846232838561.png)
}

.sticker.small.s1573846259505225 {
    background-image: url(../images/stickers/small/1573846259505225.png)
}

.sticker.small.s1573846282838556 {
    background-image: url(../images/stickers/small/1573846282838556.png)
}

.sticker.small.s1573846306171887 {
    background-image: url(../images/stickers/small/1573846306171887.png)
}

.sticker.small.s1573846349505216 {
    background-image: url(../images/stickers/small/1573846349505216.png)
}

.sticker.small.s1573846376171880 {
    background-image: url(../images/stickers/small/1573846376171880.png)
}

.sticker.small.s1573846412838543 {
    background-image: url(../images/stickers/small/1573846412838543.png)
}

.sticker.small.s1573846426171875 {
    background-image: url(../images/stickers/small/1573846426171875.png)
}

.sticker.small.s1573846436171874 {
    background-image: url(../images/stickers/small/1573846436171874.png)
}

.sticker.small.s1573846449505206 {
    background-image: url(../images/stickers/small/1573846449505206.png)
}

.sticker.small.s1573846472838537 {
    background-image: url(../images/stickers/small/1573846472838537.png)
}

.sticker.small.s1573846496171868 {
    background-image: url(../images/stickers/small/1573846496171868.png)
}

.sticker.small.s1573846506171867 {
    background-image: url(../images/stickers/small/1573846506171867.png)
}

.sticker.small.s1573846552838529 {
    background-image: url(../images/stickers/small/1573846552838529.png)
}

.sticker.small.s1573846619505189 {
    background-image: url(../images/stickers/small/1573846619505189.png)
}

.sticker.small.s1573846639505187 {
    background-image: url(../images/stickers/small/1573846639505187.png)
}

.sticker.small.s1573846656171852 {
    background-image: url(../images/stickers/small/1573846656171852.png)
}

.sticker.small.s1573846666171851 {
    background-image: url(../images/stickers/small/1573846666171851.png)
}

.sticker.small.s1573846699505181 {
    background-image: url(../images/stickers/small/1573846699505181.png)
}

.sticker.small.s1573846749505176 {
    background-image: url(../images/stickers/small/1573846749505176.png)
}

/* Sticker large */
.sticker.large {
  width: 120px;
  height: 120px;
  margin-top: 10px;
  background-size: 120px 120px;
}

/* 1 */
.sticker.large.s279586385548960 {
  width: 98px;
  background: url(../images/stickers/large/279586385548960.png) -9px -9px;
  background-size: 232px 276px;
}

.sticker.large.s279586372215628 {
  height: 112px;
  background: url(../images/stickers/large/279586372215628.png) -11px -11px;
  background-size: 284px 268px;
}

.sticker.large.s279586365548962 {
  width: 111px;
  background: url(../images/stickers/large/279586365548962.png) -11px -11px;
  background-size: 266px 284px;
}

.sticker.large.s279586362215629 {
  width: 115px;
  background: url(../images/stickers/large/279586362215629.png) -11px -11px;
  background-size: 274px 284px;
}
/* 5 */
.sticker.large.s279586332215632 {
  width: 108px;
  background: url(../images/stickers/large/279586332215632.png) -10px -10px;
  background-size: 256px 280px;
}

.sticker.large.s279586392215626 {
  width: 89px;
  background: url(../images/stickers/large/279586392215626.png) -8px -8px;
  background-size: 210px 272px;
}

.sticker.large.s279586305548968 {
  width: 105px;
  background: url(../images/stickers/large/279586305548968.png) -10px -10px;
  background-size: 250px 280px;
}

.sticker.large.s279586282215637 {
  width: 107px;
  background: url(../images/stickers/large/279586282215637.png) -10px -10px;
  background-size: 254px 280px;
}
/* 9 */
.sticker.large.s279586338882298 {
  width: 98px;
  background: url(../images/stickers/large/279586338882298.png) -9px -9px;
  background-size: 232px 276px;
}

.sticker.large.s279586322215633 {
  width: 119px;
  background: url(../images/stickers/large/279586322215633.png) -11px -11px;
  background-size: 284px 282px;
}

.sticker.large.s279586295548969 {
  height: 115px;
  background: url(../images/stickers/large/279586295548969.png) -11px -11px;
  background-size: 426px 411px;
}

.sticker.large.s279586275548971 {
  width: 97px;
  background: url(../images/stickers/large/279586275548971.png) -9px -9px;
  background-size: 345px 414px;
}
/* 13 */
.sticker.large.s279586255548973 {
  height: 105px;
  background: url(../images/stickers/large/279586255548973.png) -10px -10px;
  background-size: 280px 250px;
}

.sticker.large.s279586285548970 {
  width: 88px;
  background: url(../images/stickers/large/279586285548970.png) -8px -8px;
  background-size: 208px 272px;
}

.sticker.large.s279586368882295 {
  width: 114px;
  background: url(../images/stickers/large/279586368882295.png) -11px -11px;
  background-size: 272px 284px;
}

.sticker.large.s279586388882293 {
  width: 115px;
  height: 120px;
  background: url(../images/stickers/large/279586388882293.png) -11px -11px;
  background-size: 274px 284px;
}
/* 17 */
.sticker.large.s279586375548961 {
  width: 120px;
  height: 108px;
  background: url(../images/stickers/large/279586375548961.png) -10px -10px;
  background-size: 280px 256px;
}

.sticker.large.s279586345548964 {
  width: 120px;
  height: 95px;
  background: url(../images/stickers/large/279586345548964.png) -9px -9px;
  background-size: 276px 226px;
}

.sticker.large.s279586325548966 {
  width: 120px;
  height: 102px;
  background: url(../images/stickers/large/279586325548966.png) -10px -10px;
  background-size: 280px 244px;
}

.sticker.large.s279586342215631 {
  width: 120px;
  height: 94px;
  background: url(../images/stickers/large/279586342215631.png) -9px -9px;
  background-size: 278px 226px;
}
/* 21 */
.sticker.large.s279586378882294 {
  height: 95px;
  background: url(../images/stickers/large/279586378882294.png) -9px -9px;
  background-size: 414px 339px;
}

.sticker.large.s279586302215635 {
  height: 96px;
  background: url(../images/stickers/large/279586302215635.png) -9px -9px;
  background-size: 276px 228px;
}

.sticker.large.s279586292215636 {
  height: 101px;
  background: url(../images/stickers/large/279586292215636.png) -10px -10px;
  background-size: 280px 242px;
}

.sticker.large.s279586288882303 {
  height: 93px;
  background: url(../images/stickers/large/279586288882303.png) -9px -9px;
  background-size: 276px 222px;
}
/* 25 */
.sticker.large.s279586358882296 {
  height: 75px;
  background: url(../images/stickers/large/279586358882296.png) -7px -7px;
  background-size: 268px 178px;
}

.sticker.large.s279586328882299 {
  height: 78px;
  background: url(../images/stickers/large/279586328882299.png) -7px -7px;
  background-size: 268px 184px;
}

.sticker.large.s279586315548967 {
  height: 74px;
  background: url(../images/stickers/large/279586315548967.png) -7px -7px;
  background-size: 268px 176px;
}

.sticker.large.s279586262215639 {
  height: 73px;
  background: url(../images/stickers/large/279586262215639.png) -7px -7px;
  background-size: 268px 174px;
}
/* 29 */
.sticker.large.s279586312215634 {
  height: 76px;
  background: url(../images/stickers/large/279586312215634.png) -7px -7px;
  background-size: 268px 180px;
}

.sticker.large.s279586272215638 {
  height: 71px;
  background: url(../images/stickers/large/279586272215638.png) -7px -7px;
  background-size: 268px 170px;
}

.sticker.large.s279586355548963 {
  height: 76px;
  background: url(../images/stickers/large/279586355548963.png) -7px -7px;
  background-size: 268px 180px;
}

.sticker.large.s279586318882300 {
  height: 64px;
  background: url(../images/stickers/large/279586318882300.png) -6px -6px;
  background-size: 264px 152px;
}
/* 33 */
.sticker.large.s279586382215627 {
  height: 74px;
  background: url(../images/stickers/large/279586382215627.png) -7px -7px;
  background-size: 268px 176px;
}

.sticker.large.s279586348882297 {
  height: 79px;
  background: url(../images/stickers/large/279586348882297.png) -7px -7px;
  background-size: 268px 186px;
}

.sticker.large.s279586335548965 {
  height: 64px;
  background: url(../images/stickers/large/279586335548965.png) -6px -6px;
  background-size: 264px 152px;
}

.sticker.large.s279586258882306 {
  height: 83px;
  background: url(../images/stickers/large/279586258882306.png) -8px -8px;
  background-size: 272px 198px;
}
/* 37 */
.sticker.large.s279586352215630 {
  height: 87px;
  background: url(../images/stickers/large/279586352215630.png) -8px -8px;
  background-size: 272px 206px;
}

.sticker.large.s279586308882301 {
  height: 87px;
  background: url(../images/stickers/large/279586308882301.png) -8px -8px;
  background-size: 272px 206px;
}

.sticker.large.s279586278882304 {
  height: 75px;
  background: url(../images/stickers/large/279586278882304.png) -7px -7px;
  background-size: 268px 178px;
}

.sticker.large.s279586298882302 {
  height: 89px;
  background: url(../images/stickers/large/279586298882302.png) -8px -8px;
  background-size: 272px 210px;
}
/* 41 */
.sticker.large.s499671063448730 {
  background-image: url(../images/stickers/large/499671063448730.png);
}

.sticker.large.s499671103448726 {
  background-image: url(../images/stickers/large/499671103448726.png);
}

.sticker.large.s499670973448739 {
  background-image: url(../images/stickers/large/499670973448739.png);
}

.sticker.large.s499670946782075 {
  background-image: url(../images/stickers/large/499670946782075.png);
}
/* 45 */
.sticker.large.s499671050115398 {
  background-image: url(../images/stickers/large/499671050115398.png);
}

.sticker.large.s499671006782069 {
  background-image: url(../images/stickers/large/499671006782069.png);
}

.sticker.large.s499671090115394 {
  background-image: url(../images/stickers/large/499671090115394.png);
}

.sticker.large.s499671210115382 {
  background-image: url(../images/stickers/large/499671210115382.png);
}
/* 49 */
.sticker.large.s499670980115405 {
  background-image: url(../images/stickers/large/499670980115405.png);
}

.sticker.large.s499671136782056 {
  background-image: url(../images/stickers/large/499671136782056.png);
}

.sticker.large.s499671143448722 {
  background-image: url(../images/stickers/large/499671143448722.png);
}

.sticker.large.s499671170115386 {
  background-image: url(../images/stickers/large/499671170115386.png);
}
/* 53 */
.sticker.large.s499671076782062 {
  background-image: url(../images/stickers/large/499671076782062.png);
}

.sticker.large.s499671000115403 {
  background-image: url(../images/stickers/large/499671000115403.png);
}

.sticker.large.s499671116782058 {
  background-image: url(../images/stickers/large/499671116782058.png);
}

.sticker.large.s499670940115409 {
  background-image: url(../images/stickers/large/499670940115409.png);
}
/* 57 */
.sticker.large.s499671156782054 {
  background-image: url(../images/stickers/large/499671156782054.png);
}

.sticker.large.s499671020115401 {
  background-image: url(../images/stickers/large/499671020115401.png);
}

.sticker.large.s499671026782067 {
  background-image: url(../images/stickers/large/499671026782067.png);
}

.sticker.large.s499671043448732 {
  background-image: url(../images/stickers/large/499671043448732.png);
}
/* 61 */
.sticker.large.s499671190115384 {
  background-image: url(../images/stickers/large/499671190115384.png);
}

.sticker.large.s499671183448718 {
  background-image: url(../images/stickers/large/499671183448718.png);
}

.sticker.large.s499671013448735 {
  background-image: url(../images/stickers/large/499671013448735.png);
}

.sticker.large.s499671123448724 {
  background-image: url(../images/stickers/large/499671123448724.png);
}
/* 65 */
.sticker.large.s499671096782060 {
  background-image: url(../images/stickers/large/499671096782060.png);
}

.sticker.large.s499671083448728 {
  background-image: url(../images/stickers/large/499671083448728.png);
}

.sticker.large.s499671243448712 {
  background-image: url(../images/stickers/large/499671243448712.png);
}

.sticker.large.s499671110115392 {
  background-image: url(../images/stickers/large/499671110115392.png);
}
/* 69 */
.sticker.large.s499670960115407 {
  background-image: url(../images/stickers/large/499670960115407.png);
}

.sticker.large.s499670966782073 {
  background-image: url(../images/stickers/large/499670966782073.png);
}

.sticker.large.s499671203448716 {
  background-image: url(../images/stickers/large/499671203448716.png);
}

.sticker.large.s499671163448720 {
  background-image: url(../images/stickers/large/499671163448720.png);
}
/* 73 */
.sticker.large.s499671216782048 {
  background-image: url(../images/stickers/large/499671216782048.png);
}

.sticker.large.s499671033448733 {
  background-image: url(../images/stickers/large/499671033448733.png);
}

.sticker.large.s499671226782047 {
  background-image: url(../images/stickers/large/499671226782047.png);
}

.sticker.large.s499671056782064 {
  background-image: url(../images/stickers/large/499671056782064.png);
}
/* 77 */
.sticker.large.s499671233448713 {
  background-image: url(../images/stickers/large/499671233448713.png);
}

.sticker.large.s499671130115390 {
  background-image: url(../images/stickers/large/499671130115390.png);
}

.sticker.large.s499670953448741 {
  background-image: url(../images/stickers/large/499670953448741.png);
}

.sticker.large.s499671176782052 {
  background-image: url(../images/stickers/large/499671176782052.png);
}
/* 81 */
.sticker.large.s499671196782050 {
  background-image: url(../images/stickers/large/499671196782050.png);
}

.sticker.large.s499671070115396 {
  background-image: url(../images/stickers/large/499671070115396.png);
}

.sticker.large.s499670990115404 {
  background-image: url(../images/stickers/large/499670990115404.png);
}

.sticker.large.s499671150115388 {
  background-image: url(../images/stickers/large/499671150115388.png);
}

.sticker.large.s364383977058241 {
  background-image: url(../images/stickers/large/364383977058241.png)
}

.sticker.large.s364383987058240 {
  background-image: url(../images/stickers/large/364383987058240.png)
}

.sticker.large.s364383997058239 {
  background-image: url(../images/stickers/large/364383997058239.png)
}

.sticker.large.s364384007058238 {
  background-image: url(../images/stickers/large/364384007058238.png)
}

.sticker.large.s364384020391570 {
  background-image: url(../images/stickers/large/364384020391570.png)
}

.sticker.large.s364384040391568 {
  background-image: url(../images/stickers/large/364384040391568.png)
}

.sticker.large.s364384050391567 {
  background-image: url(../images/stickers/large/364384050391567.png)
}

.sticker.large.s364384060391566 {
  background-image: url(../images/stickers/large/364384060391566.png)
}

.sticker.large.s364384080391564 {
  background-image: url(../images/stickers/large/364384080391564.png)
}

.sticker.large.s364384093724896 {
  background-image: url(../images/stickers/large/364384093724896.png)
}

.sticker.large.s364384107058228 {
  background-image: url(../images/stickers/large/364384107058228.png)
}

.sticker.large.s364384117058227 {
  background-image: url(../images/stickers/large/364384117058227.png)
}

.sticker.large.s364384127058226 {
  background-image: url(../images/stickers/large/364384127058226.png)
}

.sticker.large.s364384137058225 {
  background-image: url(../images/stickers/large/364384137058225.png)
}

.sticker.large.s364384147058224 {
  background-image: url(../images/stickers/large/364384147058224.png)
}

.sticker.large.s364384157058223 {
  background-image: url(../images/stickers/large/364384157058223.png)
}

.sticker.large.s364384170391555 {
  background-image: url(../images/stickers/large/364384170391555.png)
}

.sticker.large.s364384180391554 {
  background-image: url(../images/stickers/large/364384180391554.png)
}

.sticker.large.s364384190391553 {
  background-image: url(../images/stickers/large/364384190391553.png)
}

.sticker.large.s364384200391552 {
  background-image: url(../images/stickers/large/364384200391552.png)
}

.sticker.large.s702110249875066 {
  background-image: url(../images/stickers/large/702110249875066.png)
}

.sticker.large.s702110259875065 {
  background-image: url(../images/stickers/large/702110259875065.png)
}

.sticker.large.s702110269875064 {
  background-image: url(../images/stickers/large/702110269875064.png)
}

.sticker.large.s702110279875063 {
  background-image: url(../images/stickers/large/702110279875063.png)
}

.sticker.large.s702110293208395 {
  background-image: url(../images/stickers/large/702110293208395.png)
}

.sticker.large.s702110306541727 {
  background-image: url(../images/stickers/large/702110306541727.png)
}

.sticker.large.s702110316541726 {
  background-image: url(../images/stickers/large/702110316541726.png)
}

.sticker.large.s702110326541725 {
  background-image: url(../images/stickers/large/702110326541725.png)
}

.sticker.large.s702110339875057 {
  background-image: url(../images/stickers/large/702110339875057.png)
}

.sticker.large.s702110349875056 {
  background-image: url(../images/stickers/large/702110349875056.png)
}

.sticker.large.s702110359875055 {
  background-image: url(../images/stickers/large/702110359875055.png)
}

.sticker.large.s702110369875054 {
  background-image: url(../images/stickers/large/702110369875054.png)
}

.sticker.large.s702110383208386 {
  background-image: url(../images/stickers/large/702110383208386.png)
}

.sticker.large.s702110399875051 {
  background-image: url(../images/stickers/large/702110399875051.png)
}

.sticker.large.s702110413208383 {
  background-image: url(../images/stickers/large/702110413208383.png)
}

.sticker.large.s702110436541714 {
  background-image: url(../images/stickers/large/702110436541714.png)
}

.sticker.large.s702110446541713 {
  background-image: url(../images/stickers/large/702110446541713.png)
}

.sticker.large.s702110456541712 {
  background-image: url(../images/stickers/large/702110456541712.png)
}

.sticker.large.s702110466541711 {
  background-image: url(../images/stickers/large/702110466541711.png)
}

.sticker.large.s702127056540052 {
  background-image: url(../images/stickers/large/702127056540052.png)
}

.sticker.large.s1573846232838561 {
    background-image: url(../images/stickers/large/1573846232838561.png)
}

.sticker.large.s1573846259505225 {
    background-image: url(../images/stickers/large/1573846259505225.png)
}

.sticker.large.s1573846282838556 {
    background-image: url(../images/stickers/large/1573846282838556.png)
}

.sticker.large.s1573846306171887 {
    background-image: url(../images/stickers/large/1573846306171887.png)
}

.sticker.large.s1573846349505216 {
    background-image: url(../images/stickers/large/1573846349505216.png)
}

.sticker.large.s1573846376171880 {
    background-image: url(../images/stickers/large/1573846376171880.png)
}

.sticker.large.s1573846412838543 {
    background-image: url(../images/stickers/large/1573846412838543.png)
}

.sticker.large.s1573846426171875 {
    background-image: url(../images/stickers/large/1573846426171875.png)
}

.sticker.large.s1573846436171874 {
    background-image: url(../images/stickers/large/1573846436171874.png)
}

.sticker.large.s1573846449505206 {
    background-image: url(../images/stickers/large/1573846449505206.png)
}

.sticker.large.s1573846472838537 {
    background-image: url(../images/stickers/large/1573846472838537.png)
}

.sticker.large.s1573846496171868 {
    background-image: url(../images/stickers/large/1573846496171868.png)
}

.sticker.large.s1573846506171867 {
    background-image: url(../images/stickers/large/1573846506171867.png)
}

.sticker.large.s1573846552838529 {
    background-image: url(../images/stickers/large/1573846552838529.png)
}

.sticker.large.s1573846619505189 {
    background-image: url(../images/stickers/large/1573846619505189.png)
}

.sticker.large.s1573846639505187 {
    background-image: url(../images/stickers/large/1573846639505187.png)
}

.sticker.large.s1573846656171852 {
    background-image: url(../images/stickers/large/1573846656171852.png)
}

.sticker.large.s1573846666171851 {
    background-image: url(../images/stickers/large/1573846666171851.png)
}

.sticker.large.s1573846699505181 {
    background-image: url(../images/stickers/large/1573846699505181.png)
}

.sticker.large.s1573846749505176 {
    background-image: url(../images/stickers/large/1573846749505176.png)
}
